.clever-marketing {
	.clever-footer-section {
		background-color: #8f968f;
		color: #fff;
		text-align: center;

		a {
			color: #fff;
		}

		.mobile {
			display: inline-block;
			@media only screen and (min-width: 960px) {
				display: none;
			}
		}

		.desktop {
			display: none;
			@media only screen and (min-width: 960px) {
				display: inline-block;
			}
		}

		.clever-footer-section-wrap {
			padding-top: 35px;
		}

		.clever-footer-halfs {
			display: flex;
			flex-wrap: nowrap;
			flex-direction: column;
			@media only screen and (min-width: 960px) {
				flex-direction: row-reverse;
			}
		}

		.footer-phone {
			color: #fff;
			margin-top: 20px;
		}
	}

	.footer {
		background-color: #eeefee;
	}

	.clever-footer-credits {
		margin: 15px 0;
	}

	.clever-half-logo {
		margin: 35px;
		//flex: 100%;

		@media only screen and (min-width: 960px) {
			flex: 50%;
		}
	}

	.clever-half-phone {
		margin: 35px;
		//flex: 100%;

		@media only screen and (min-width: 960px) {
			flex: 50%;
		}
	}
}
