.clever-marketing {
	.related-topics {
		h3 {
			font-size: 24px;
			color: #408bb4;
			text-align: center;
		}

		a {
			color: #8e0c2d;
		}

		.column-wrap {
			padding-top: 35px;
			padding-left: 15px;
			padding-right: 15px;
		}

		.img-wrap {
			margin-bottom: 35px;
		}
	}
}
